<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>EWAS</title>
    <link rel="icon" href="/public/img/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/voters.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/js/studentRegistration.js"></script>
</head>

<body>
    <% function dateFormater(date){
        var day = ("0" + date.getDate()).slice(-2);
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        return date.getFullYear()+"-"+month+"-"+day
    }%>

        <center>
            <div class="wrapper fadeInDown">
                <div style="position: relative;" class="mainCard shadow-lg p-5 mb-5 bg-white rounded mt-5">
                    <a href="../administration"><button style="position: absolute;left:4px;top:4px" class="btn btn-secondary px-3"><i class="fa fa-arrow-left"></i></button></a>
                    <h3 class="mb-4 text-center">Administrator Information Form</h3>
                    <hr>
                    <% admin.forEach(data=>{%>
                        <form action="./<%=data.id%>" method="POST" autocomplete="off">
                            <div class="container d-inline mb-3">
                                <div class="input">
                                    <div class="form-group d-inline">
                                        <i class="fa fa-user"></i>
                                        <input style="width: 90%;" type="text" id="fname" name="firstname" placeholder="First Name" value="<%=data.firstname%>" required>
                                    </div>
                                    <small id="efname">.error</small>
                                </div>
                                <div class="input">
                                    <div class="form-group d-inline ml-3">
                                        <input style="width: 90%;" type="text" id="lname" name="lastname" placeholder="Last Name" value="<%=data.lastname%>" required>
                                    </div>
                                    <small id="elname">.error</small>
                                </div>
                                <div class="input">
                                    <div class="form-group d-inline ml-3">
                                        <input style="width: 90%;" type="text" id="mname" name="middlename" placeholder="Middle Name" value="<%=data.middlename%>" required>
                                    </div>
                                    <small id="emname">.error</small>
                                </div>
                            </div>

                            <div class="container"><br>
                                <div class="float-left" style=" text-align: left;"><i class="fa fa-address-book" style="margin-left: -13px;"> Address</i></div><br>
                                <div class="row">
                                    <div class="col" style="margin-left: -14%;">
                                        <input type="text" name="barangay" placeholder="Street/Brgy" value="<%=data.barangay%>" required>
                                    </div>

                                    <div class="col">
                                        <input type="text" class="float-left" name="municipality" placeholder="City/Municipality" value="<%=data.municipality%>" required>
                                    </div>
                                </div>
                            </div>

                            <div class="conatiner">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="province" placeholder="Province" value="<%=data.province%>" required>
                                    </div>

                                    <div class="col">
                                        <select class="form-control float-left" id="region" name="region" style="margin-top: 17px;width: 88%;" required>
                                    <%
                                    var options = [ "I", "II", "III","IV-A", "IV-B", "V","NCR","CAR", "VI", "VII", "VIII", "IX", "X", "XI","XII","XIII","BARMM"];
                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                        var selected = ( data.region == options[i]) ? "selected" : "";
                                        %><option value="<%=options[i] %>" <%=selected %>><%=options[i]%></option><%
                                    }
                                    %>
                                </select>
                                    </div>
                                </div>
                            </div><br>
                            <div class="conatiner px-4">
                                <div class="row">
                                    <div class="col-sm form-group">
                                        <label for="birthday"><i class="fa fa-birthday-cake"></i></label>
                                        <input type="date" name="birthDate" value="<%=dateFormater(data.birthDate)%>" required>
                                    </div>

                                    <div class="col-sm">
                                        <label for="gender"></label>
                                        <select class="form-control" id="gender" name="gender" style="margin-top: 1px;" required>
                                            <%
                                            var options = [ "MALE", "FEMALE"];
                                            for ( var i = 0; i < options.length; i++ )
                                            {
                                                var selected = ( data.gender == options[i]) ? "selected" : "";
                                                %><option value="<%=options[ i ] %>" <%=selected %>><%=options[i]%></option><%
                                            }
                                            %>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <label for="position"></label>
                                        <select class="form-control" id="position" name="position" style="margin-top: 1px;" required>
                                            <%
                                            var options = [ "ADMIN", "REGISTAR"];
                                            for ( var i = 0; i < options.length; i++ )
                                            {
                                                var selected = ( data.position == options[i]) ? "selected" : "";
                                                %><option value="<%=options[ i ] %>" <%=selected %>><%=options[i]%></option><%
                                            }
                                            %>
                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="px-2 mb-2">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group d-inline">
                                            <i class="fa fa-phone"></i>
                                            <input type="text" id="contact" name="contactNumber" placeholder="0000-000-0000" value="<%=data.contactNumber%>" required>
                                        </div>
                                        <small id="econtact">.</small>
                                    </div>
                                    <div class="col">
                                        <div class="form-group d-inline">
                                            <i class="fa fa-envelope"></i>
                                            <input type="email" name="email" id="email" placeholder="Email Address" value="<%=data.email%>" required>
                                        </div>
                                        <small id="error">.</small>
                                    </div>
                                </div>
                                <br>
                                <hr>
                            </div>
                            <button type="submit" class="btn btn-primary" id="submit" style="font-size:large;border-radius: 30px;padding-left: 150px;padding-right: 150px;padding-top: 10px;padding-bottom: 10px;">Save Changes</button>
                        </form>
                        <%})%>
                </div>
            </div>
        </center>
        <input type="hidden" id="validate" name="validate" value="5">
        <input type="hidden" id="check" name="update" value="update">
        <script src="/public/js/browserMqtt.js"></script>
</body>

</html>