<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EWAS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/custom.css">
    <script src="/public/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <nav class="navbar fixed-top d-flex justify-content-between" style="background: linear-gradient( rgb(5, 22, 44), rgb(5, 25, 53));">
        <div>
            <img class="bg-white rounded-circle d-inline" src="/public/img/userIcon.png" style="width:40px" alt="">
            <h5 class="text-white d-inline">EWAS<small>(Election Web App System)</small></h5>
        </div>
        <div>
            <div class="d-inline">
                <div class="d-inline dropdown">
                    <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="bg-white rounded-circle " src="/public/img/userIcon.png" style="width:35px;cursor: pointer;" alt="">
                      </button>
                    <div class="dropdown-menu mt-4 text-center rounded shadow p-2" aria-labelledby="dropdownMenuButton" style="width:300px;margin-left: -235px;">
                        <img class="rounded-circle bg-warning" style="width: 90px;height: 90px;" src="/public/img/userIcon.png" alt="">
                        <p class="mt-3" style="font-size: large;line-height: 5px;">JOHN PAUL VISTAL</p>
                        <p style="line-height: 5px;">johnpaulvistal@gmail.com</p>
                        <hr>
                        <button class="btn btn-outline-primary btn-block">Sign Out</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="overlay"></div>
    <div id="wrapper">
        <div id="sidebar-wrapper" class="rounded shadow w3-animate-left px-2 pt-2">
            <div class="mb-2" style="border-bottom: .5px solid white;">
                <h3 class="text-white">MENU</h3>
            </div>
            <nav class="sidebar-nav">
                <a href="dashboard" class="btn btn-primary btn-block btn-grad py-3"><i class="sideNavIcon fa fa-list"></i> DASHBOARD</a>
                <a href="voters" class="btn btn-primary btn-block btn-grad py-3 activeButton"><i class="sideNavIcon fa fa-users"></i> VOTERS</a>
                <a href="candidates" class="btn btn-primary btn-block btn-grad py-3"><i class="sideNavIcon fa fa-users"></i> CANDIDATES</a>
                <a href="administration" class="btn btn-primary btn-block btn-grad py-3"><i class="sideNavIcon fa fa-users"></i> ADMINS</a>
            </nav>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper" class="w3-animate-top">
            <button id="menuBtn" class="btn btn-primary rounded-circle float-left"><i class="fa fa-bars"></i></button>
            <div class="page-content">

                <div class="container">
                    <div class="bg-white shadow  my-3 rounded">
                        <ol class="breadcrumb bg-white mb-1">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Voters</li>
                        </ol>
                    </div>
                    <div class="bg-white shadow rounded my-3 p-3" style="height: 800px;">
                        <p>VOTERS LIST</p>
                        <hr>
                        <a href="voters-registration-form"> <button class="btn btn-primary float-right px-5" style="border-radius:30px"><i class="fa fa-plus"></i> ADD</button></a>
                        <label style="margin-left:10px" class="d-inline mt-3" for=""><i class="fa fa-search"></i></label>
                        <input class="search d-inline mt-3 py-2" type="text" placeholder="Search..." style="border:none;border-bottom:1px solid black;width: 50%;margin-left: -20px;">
                        <div class="mt-2 p-2" style="overflow:scroll;height:600px">
                            <table id="header-fixed" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">VOTERS ID</th>
                                        <th scope="col">FULL NAME</th>
                                        <th scope="col">GENDER</th>
                                        <th scope="col">CONTACT NO.</th>
                                        <th scope="col">EMAIL</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% voters.forEach(voter=>{%>
                                        <tr>
                                            <td>
                                                <%=voter.votersId%>
                                            </td>
                                            <td>
                                                <%=voter.lastname%>,
                                                    <%=voter.firstname%>
                                                        <%=voter.middlename%>
                                            </td>
                                            <td>
                                                <%=voter.gender%>
                                            </td>
                                            <td>
                                                <%=voter.contact%>
                                            </td>
                                            <td>
                                                <%=voter.email%>
                                            </td>
                                            <td>
                                                <a href="voter/<%=voter._id%>"><button class="btn btn-warning"><i class="fa fa-eye"></i></button></a>
                                                <a href="voter/delete/<%=voter._id%>"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="nav bg-dark p-2">
        <img class="bg-white rounded-circle" src="/public/img/userIcon.png" alt="" style="width: 70px;height: 70px;">
        <p class="text-white mt-4 ml-2">&copy;COPYRIGHT 2020</p>
        <p class="text-white mt-4 ml-2">|</p>
        <p class="text-white mt-4 ml-2">EWAS COMMITTE </p>
    </footer>

    <!-- <% function dateFormat(date){
        var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }%> -->
</body>

</html>