<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Form</title>
    <link rel="icon" href="/public/img/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/voters.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/js/electionForm.js"></script>
</head>
<style>
    body {
        background: linear-gradient(rgb(235, 233, 233), rgb(246, 244, 244)) no-repeat;
        background-size: cover;
        height: auto;
        font-family: consolas;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .instruction {
        z-index: 100;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 0;
        right: 0;
    }
    
    #overlay {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(59, 57, 57, 0.5);
        z-index: 2;
        cursor: pointer;
    }
    
    .logoInstruction {
        width: 250px;
    }
    
    .understandBtn {
        border-radius: 30px
    }
    
    @media (max-width:750px) {
        .title {
            display: none;
        }
        .logoInstruction {
            width: 100px;
        }
        .instructionTitle {
            font-size: 25px;
        }
    }
</style>

<body>
    <div id="overlay" onclick="off()"></div>
    <div id="instruction" class="bg-white w-75 shadow mt-4 instruction rounded fadeInDown p-5">
        <img class="center logoInstruction" src="/public/img/logo.png" id="icon" alt="User Icon" />
        <center>
            <h2 class="instructionTitle">VOTING INSTRUCTIONS</h2>
            <div class="container bg-white p-2 mt-2"></div>
            <div class="form-group">
                <h6>*Register first.You can only vote once.</h6>
            </div>
            <div class="container bg-white p-2 mt-2"></div>
            <div class="form-group">
                <h6>*Choose the candidates appropriate number.</h6>
            </div>
            <div class="container bg-white p-2 mt-2"></div>
            <div class="form-group">
                <h6>*Incomplete vote cannot be submitted.</h6>
            </div>
            <div class="container bg-white p-2 mt-2"></div>
            <div class="form-group">
                <h6>*Ask for assistance if there's a problem.</h6>
            </div>
            <div class="container bg-white p-2 mt-2"></div>
            <div class="form-group">
                <h6>*Review your votes carefully.</h6>
            </div>
            <div class="container bg-white p-2 mt-2"></div>
            <div class="form-group">
                <h6>*Submit your vote.</h6>
            </div>
            <div class="container bg-white p-2 mt-2"></div>
            <h5>Reminders!</h5>
            <div class="container bg-white p-2 mt-2"></div>
            <h6>Don't forget to follow the instructions to vote. Every vote is important and the future of this school lies in your hands.Be vigilant and wise!Good luck.</h6>
            <div>
                <button id="understand" class="understandBtn btn btn-primary btn-block  mt-4 mb-2">I Understand</button>
            </div>
        </center>
    </div>

    <input type="hidden" id="grade" name="grade" value="<%= grade %>">
    <div class="header shadow-lg d-flex justify-content-between p-2">
        <div class="ml-2 d-flex">
            <div class="d-inline">
                <img src="/public/img/logo.png" alt="" style="width: 80px;">
            </div>
            <div class="d-inline mt-2">
                <h2 class="title">UNIVERSITY OF SAN CARLOS</h2>
                <h5 class="title" style="line-height: 1px;">EWAS <small>Online Election Ballot</small></h5>
            </div>
        </div>
        <div>
            <button id="submit" class="mt-4 mr-5 px-4 btn btn-primary float-right p-2" style="background: rgb(150, 32, 218);">Submit
                Vote</button>
        </div>
    </div>
    <div class="card shadow bg-white rounded p-2">
        <h5 class="role">President:</h5>
        <div class="card-body">
            <% presidents.forEach((president) => {%>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkPresident" name="c1" id="<%= president.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= president.id %>">
                    <%= president.firstname %> <%= president.middlename %> <%= president.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded">
        <h5 class="role">Vice President:</h5>
        <div class="card-body">
            <% v_presidents.forEach((vice_president)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkVice" name="c1" id="<%= vice_president.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= vice_president.id %>">
                    <%= vice_president.firstname %> <%= vice_president.middlename %> <%= vice_president.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded">
        <h5 class="role">Treasurer:</h5>
        <div class="card-body">
            <% treasurers.forEach((treasurer)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkTreasurer" name="c1" id="<%= treasurer.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= treasurer.id %>">
                    <%= treasurer.firstname %> <%= treasurer.middlename %> <%= treasurer.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded">
        <h5 class="role">Auditor:</h5>
        <div class="card-body">
            <% auditors.forEach((auditor)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkAudit" name="c1" id="<%= auditor.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= auditor.id %>">
                    <%= auditor.firstname %> <%= auditor.middlename %> <%= auditor.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded">
        <h5 class="role">Secretary:</h5>
        <div class="card-body">
            <% secretary.forEach((secretary_candidate)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkSecretary" name="c1" id="<%= secretary_candidate.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= secretary_candidate.id %>">
                    <%= secretary_candidate.firstname %> <%=secretary_candidate.middlename %> <%= secretary_candidate.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <!-- Starting from this line, there are things that needed an update -->
    <div class="card p-2 shadow bg-white rounded">
        <h5 class="role">P.I.O:</h5>
        <div class="card-body">
            <% publicInformation.forEach((pio)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkPIO" name="c1" id="<%= pio.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= pio.id %>">
                    <%= pio.firstname %> <%=pio.middlename %> <%= pio.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded">
        <h5 class="role">P.O.O:</h5>
        <div class="card-body">
            <% peace_officers.forEach((poo)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkPOO" name="c1" id="<%= poo.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= poo.id %>">
                    <%= poo.firstname %> <%=poo.middlename %> <%= poo.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded" id="7">
        <h5 class="role">REPRESENTATIVE 7:</h5>
        <div class="card-body">
            <% seven_rep.forEach((seven)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkSeven" name="c1" id="<%= seven.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= seven.id %>">
                    <%= seven.firstname %> <%=seven.middlename %> <%= seven.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded" id="8">
        <h5 class="role">REPRESENTATIVE 8:</h5>
        <div class="card-body">
            <% eigth_rep.forEach((eigth)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkEight" name="c1" id="<%= eigth.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= eigth.id %>">
                    <%= eigth.firstname %> <%=eigth.middlename %> <%= eigth.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded" id="9">
        <h5 class="role">REPRESENTATIVE 9:</h5>
        <div class="card-body">
            <% nine_rep.forEach((nine)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkNine" name="c1" id="<%= nine.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= nine.id %>">
                    <%= nine.firstname %> <%=nine.middlename %> <%= nine.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded" id="10">
        <h5 class="role">REPRESENTATIVE 10:</h5>
        <div class="card-body">
            <% ten_rep.forEach((ten)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkTen" name="c1" id="<%= ten.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= ten.id %>">
                    <%= ten.firstname %> <%=ten.middlename %> <%= ten.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded" id="11">
        <h5 class="role">REPRESENTATIVE 11:</h5>
        <div class="card-body">
            <% eleven_rep.forEach((eleven)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkEleven" name="c1" id="<%= eleven.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= eleven.id %>">
                    <%= eleven.firstname %> <%=eleven.middlename %> <%= eleven.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div class="card p-2 shadow bg-white rounded" id="12">
        <h5 class="role">REPRESENTATIVE 12:</h5>
        <div class="card-body">
            <% twelve_rep.forEach((twelve)=>{ %>
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input checkTwelve" name="c1" id="<%= twelve.id %>" type="checkbox" />
                    <label class="custom-control-label" for="<%= twelve.id %>">
                    <%= twelve.firstname %> <%=twelve.middlename %> <%= twelve.lastname %>
                </label>
                </div>
                <%})%>
        </div>
    </div>

    <div style="height: 50px;">

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('#understand').click(function() {
            $('#overlay').css('display', 'none')
            $('#instruction').css('display', 'none')
        })
    </script>
</body>

</html>